---
layout: default
---

<main class="main">
  This is the index page with collection {{ page.collection }}
  {% if page.collection == 'recipe_sources' %}
    {% assign recipes = site.recipes | where_exp: 'r', 'r.source == page.title' %}
    <header>
      <div>Source: {{ page.content | markdownify }}</div>
      <img src="{{ page.image }}">
    </header>
  {% elsif page.collection == 'recipe_tags' %}
    {% assign recipes = site.recipes | where_exp: 'r', 'r.tags contains page.title' %}
    <header>Tag: {{ page.title }}</header>
  {% else %}
    {% assign recipes = site.recipes %}
    <ul class="filters">
      {% for tt in site.tag_types %}
        <li class="filter">
          <h4>{{ tt.title }}</h4>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for recipe in recipes %}
    {% include recipe-card.html recipe=recipe %}
  {% endfor %}
</main>
