---
layout: default
---

<main class="main">
  <header>
    {% assign recipes = site.recipes %}
    {% for tt in site.tag_types %}
      <details class="tag-type">
        <summary class="tag-type__title">{{ tt }}</summary>
        {% assign c = site.collections | where: 'title', tt | first %}
        <ul class="tag-type__items tag-type__items--{{ c.label }}">
          {% for tag in c.docs %}
            <li class="tag-type__item"><a href="{{ tag.url }}" class="tag-type__link">{{ tag.title }}</a></li>
          {% endfor %}
        </ul>
      </details>
    {% endfor %}
  </header>
  {% for recipe in recipes %}
    {% include recipe-card.html recipe=recipe %}
  {% endfor %}
</main>
{% include footer.html %}