---
layout: default
---

<main class="main">
  <header>
    {% assign recipe_label = page.collection %}
    {% assign start = 7 %}
    {% assign length = recipe_label.size %}
    {% assign label = page.collection | slice: start, length %}

    {% assign c = site.collections | where: 'label', recipe_label | first %}
    {% assign recipes = site.recipes | where_exp: 'r', 'r[label] contains page.title' %}
    {% assign size = c.title.size | minus: 1 %}
    <h4>{{ c.title | slice: 0, size }}: {{ page.title }}</h4>
  </header>
  {% for recipe in recipes %}
    {% include recipe-card.html recipe=recipe %}
  {% endfor %}
</main>
